---
name: publish
on:
  push:
    branches: [main]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: manoelcampos/asciidoctor-ghpages-action@v2.3.0
        with:
          asciidoctor_params: --attribute=nofooter
